
.titlebar-spacer {
  display     : none !important;
}
/* Extensions button */
#unified-extensions-button {
  -moz-box-ordinal-group: 0 !important;
  margin: 0px !important;
 }

/* Window control buttons (min, resize and close) */
.titlebar-buttonbox-container {
  display: none !important;
  margin-right: 12px !important;
}


/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important
}

/* All tabs (v-like) button */
#alltabs-button {
  display: none !important
}

/*/* URL bar icons */*/
/*#identity-permission-box,*/
/*#star-button-box,*/
/*#identity-icon-box,*/
/*#picture-in-picture-button,*/
/*#tracking-protection-icon-container,*/
/*#reader-mode-button,*/
/*#translations-button*/
/*{*/
/*  display: none !important*/
/*}*/

#urlbar .search-one-offs {
  display: none !important
}

/*  Removes urlbar border/background  */
#urlbar-background {
  border: none !important;
  outline: none !important;
  transition: .15s !important;
}

/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow: none !important;
  background: #0000 !important;
}

/*  Removes annoying border  */
#navigator-toolbox {
  border: none !important;
}

/* Remove fullscreen warning border */
#fullscreen-warning {
  border: none !important;
  background: -moz-Dialog !important;
}

/*-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#TabsToolbar {
  max-width: none !important;
  min-width: 0px !important;
}
  
#verticaltab-splitter {
  display: none !important;
}
  
/*shared*/
#TabsToolbar-customization-target {
  position: relative !important;
  clip-path: inset(0) !important;
  z-index: 1 !important;
  transition-delay: 0.2s !important;
}

:root[uidensity=compact]{
  --default-vertitaltab-width: 40px !important;
}
  
/*close*/
#TabsToolbar {
  --hovering-verticaltab-width: calc( var(--default-vertitaltab-width) + 12px);
  width: var(--default-vertitaltab-width) !important;
  transition-delay: 0.2s !important;
}

#TabsToolbar:not(:hover) #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-content[class] > .tab-close-button[class] {
  display: none !important;
  visibility: hidden !important;
}

#TabsToolbar:not(:hover) #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab .tab-content[class] > .tab-close-button[class] {
  display: none !important;
  visibility: hidden !important;
}

#TabsToolbar:not(:hover) .tab-label-container {
  display: none !important;
}

#TabsToolbar:not(:hover) #TabsToolbar-customization-target > .toolbarbutton-1 > .toolbarbutton-text {
  display: none !important;
}

#TabsToolbar:not(:hover) .tab-icon-stack {
  padding-left: 8px;
}

#TabsToolbar:not(:hover) .tab-content {
  --inline-tab-padding:0px !important;
  padding-inline: 0px !important;
}

/*#sidebar-box .tabbrowser-tab{*/
/*  margin-right: 1px !important;*/
/*  margin-left: 1px !important;*/
/*}*/
  
/*open*/
#TabsToolbar:hover {
  --hovering-verticaltab-width: var(--hoverd-verticaltab-width) !important; 
  transition: all 0ms !important;
  transition-delay: 20ms !important;
  z-index: 10 !important;
  width: 320px !important;
}
  

:root{
  --tab-border-radius: 3px !important; /*  Tab border radius -- Changes the tabs rounding  *//*  Default: 6px  */
  }
