
.titlebar-spacer {
    display     : none !important;
}

.titlebar-buttonbox-container {
    display: none !important;
    margin-right: 12px !important;
}



/* Menu button */
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  /*order: -2 !important;*/
  margin: px !important;
  /* display: none !important; */
}


/* Extensions button */
#unified-extensions-button {
  -moz-box-ordinal-group: 0 !important;
  /*order: -3 !important;*/
  margin: 0px !important;
 }


/* Page back and foward buttons */
/*#back-button,*/
/*#forward-button*/
/*{*/
/*  display: none !important*/
/*}*/

/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important
}

/* All tabs (v-like) button */
#alltabs-button {
  display: none !important
}

#sidebar-box{
    max-width: none !important
}


/*#identity-permission-box,*/
#star-button-box,
/*#identity-icon-box,*/
/*#picture-in-picture-button,*/
/*#tracking-protection-icon-container,*/
/*#translations-button*/
#reader-mode-button
{
  display: none !important
}

